.green{
    background-color: green;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green1{
    background-color: rgba(0,191,111,255);
}

.white{
    background-color: white;
}

.light-green{
    background-color: rgb(237, 242, 239);
}